.drop-menu{
    position: relative;
}

.drop-items{
    position: absolute;
    top: 62px;
    right: 0;
    width: 120%;
    display: none;
    padding: 1rem;
    font-size: 1rem;
    a{
        display: block;
        color: white;
        font-weight: 700;
    }
    hr{
        background-color: white;
        border: none;
        height: 1.5px;
        margin: 3px;
        width: 100%;
    }
    .logout{
        font-weight: 700;
    }
}

.drop-items.show{
    display: block;
    background-color: #F8A92E;
}