.App {
  background-color: #F8CB2E;
  min-height: 100vh;
  // .navbar-line{
  //   border: 0.1rem solid #F8CB2E;
  //   margin: 0;
  // }
}

#map {
  position: relative;
  z-index: 0;
}

.level-button {
  position: relative;
  z-index: 2;
}

.container-row{
  display: flex;
  flex-direction: row;
}
